
/* Body Styling Color and Display Settings */
body{
    background-color: rgb(1, 65, 129);
    display: flex;
    flex-direction: column;
}
/* Link Style Control*/
a:active{
    color: crimson;
    text-decoration: double;
}
a{
    color: white;
 }

 a:link{
    color: white;
    text-decoration: solid;
}
a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
    
}

/* Navigation Title and Link Style Control */
.navigationheader{
    display:flex;
    background-color: rgb(0, 20, 39);
    border-radius: 20px;
    padding: 1.5%;
}
.navigationheader h1{
    color: white;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 28%;
}
.navigationheader nav{
    display: inline-flex;
    float: right;
}
.navigationheader ul li{
    display: inline-flex;
    font-size: 30px;
    padding-top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}
/* About Me Styling Section */
.aboutme{
    font-size: 30px;
    color: white;
    text-align: left;
    margin: 20px;
    padding: 40px;
    line-height: 40px;
}
/* Projects Section Styling, Control, and Link Section */
.projectheader{
    margin-left: 50px;
    color: white;
    font-size: 400%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.primarylink{
    position: relative;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 30px;
    color: white;
    float: left;
    width: 1400px;
    height: 500px;
}
.primarylink:hover{
    display: block;
    background-color: aqua;
    width: 1400px;
    height: 500px;
}
.primarylink img:hover{
    filter: opacity(75%);

}
.primarylink img {
    border-radius: 15px 15px 15px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1400px;
    height: 500px;  
}
.linksections{
    position: relative;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 30px;
    color: white;
    float: left;
    width: 500px;
    height: 500px;
}
.linksections:hover{
    background-color: aqua;
}
.linksections img {
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    height: auto;
}
.linksections img:hover{
    filter: opacity(75%);
}
.linktext{
    background-color: rgb(1, 66, 66);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
/* Contact Info Style Control */
.contactinfo{
    display: inline-flex;
    text-indent: 70px;
    text-decoration: underline;
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}









@media screen and (max-width: 1400px) {main,
    .projectheader{
        flex: 95%;
        max-width: 95%;
        max-height: 95%;
        flex-wrap: wrap;
        
        }
    .primarylink{
        flex: 95%;
        max-width: 95%;
        max-height: 95%;
        }
    .primarylink img{
        flex: 95%;
        max-width: 95%;
        max-height: 95%;
        }
    .primarylink:hover{
        flex: 95%;
        max-width: 95%;
        max-height: 95%;
    }
    .primarylink img:hover{
        flex: 95%;
        max-width: 95%;
        max-height: 95%;
    }
    .linktext{
        font-size: 100%; 
        }
    }
@media screen and (max-width: 768px) {
    .projectheader{
        flex: 90%;
        max-width: 90%;
        max-height: 90%;
        
        }
    .primarylink{
        flex: 90%;
        max-width: 90%;
        max-height: 90%;  
        }
    .primarylink img{
        flex: 90%;
        max-width: 90%; 
        max-height: 90%; 
        }
    .primarylink img:hover{
        flex: 90%;
        max-width: 90%;
        max-height: 90%;
        }
    .primarylink:hover{
        flex: 90%;
        max-width: 90%;
        max-height: 90%;
        }
    .linktext{
        font-size: 97%;
        
        }

}    

@media screen and (max-width: 580px) {
    .navigationheader nav ul li {display:none}
    .projectheader{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }
    .primarylink{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }
    .primarylink img{
        flex: 85%;
        max-width: 85%; 
        max-height: 85%;     
        }
    .primarylink:hover{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }
    .primarylink img:hover{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }
    .linktext{
        font-size: 95%;
        }
    .linksections{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }

    .linksections img{
        flex: 85%;
        max-width: 85%;
        max-height: 85%;
        }
}